/* .clg-logo {
    width: 200px;
}

.video-ctn {
    width: 100%;
    position: relative;
}

.video {
    width: 100vw;
    min-width: 100%;
} */

.navbar{
    background-color:rgb(49, 82, 103);
}

body{
    background-color: rgb(33, 93, 117);
}

.navbar-brand{
    font-size: 24px;
}

.navbar-nav{
    font-size: 16px;
    font-weight: 500;
}

.container-fluid{
    margin-left: 20%;
}

.navbar-collapse{
    margin-left: 30%;
    height: 80px;
}

.main-sec{
    padding: 20px;
}

.main-sec h1{
    text-align: center;
    margin-top: 20px;
    font-size: 56px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-sec p{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.card{
    width: 300px;
}

.card{
    background-color: #212529;
    color: #fff;
}

/* .table .row{
    background-color: rgb(33, 93, 117);
} */